src/main/mule/wupos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0f2b95b-c8d9-4797-afea-11ba7f0bb6c4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="df2aa3c1-2af9-408b-a4b5-e88bb8172e0f" >
		<http:request-connection host="jsonplaceholder.typicode.com"/>
	</http:request-config>
	<flow name="wuposFlow" doc:id="e5403c3d-20c2-4b11-9cfc-531fe99ec2d8" >
		<http:listener doc:name="Listener" doc:id="9ba4ec14-1eff-4cbe-94b4-a1867ba3cb94" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="9616e3e1-ced1-47ba-9159-5ac90357b6f7" variableName="store" />
		<http:request method="GET" doc:name="Request" doc:id="658c7e87-ef81-42d5-9332-7ebb8a9011c5" config-ref="HTTP_Request_configuration" path="/users" />
		<ee:transform doc:name="Transform Message" doc:id="7caa4d24-16d9-4993-bcaf-687ac9935532">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"a": vars.store,
	"pdf_link": "http://www.africau.edu/images/default/sample.pdf"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="26afa24c-7e00-46a1-abd9-3f40cbb87dab" message="#[payload]"/>
	</flow>
	<flow name="acces_variables_inside_async" doc:id="d380461e-6093-472a-9352-4fbe60746622" >
		<http:listener doc:name="Listener" doc:id="97e96b3a-2991-43a7-a45c-b53884978ca2" config-ref="HTTP_Listener_config" path="/async"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="87136eb4-c137-4637-ad90-aac07c56d091" variableName="key"/>
		<async doc:name="Async" doc:id="3fa2bf3f-c5e7-4209-a0eb-e511e6c0cc94" >
			<flow-ref doc:name="Flow Reference" doc:id="ad44d81d-332c-42f8-a435-ae8f7c0ffa05" name="wuposSub_Flow" />
		</async>
		<logger level="INFO" doc:name="Logger" doc:id="fb52d7e8-5407-43c0-bc47-ec32189d5d3c" message="#[payload]"/>
	</flow>
	<sub-flow name="wuposSub_Flow" doc:id="cedae599-6f5b-4a6a-a762-97479cef11c6" >
		<ee:transform doc:name="Transform Message" doc:id="b9a75b1c-2e91-4605-87c9-55a24d83a987" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json ---
 payload ++ {a: vars.key}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0195a0e9-23ce-47bc-af18-d0663c4e0847" message="#[payload]"/>
	</sub-flow>
</mule>
